body {
    font-family: 'Arial', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffefd5
}

h1 { 
  text-align: center;
  color: #d2691e;
}

h2 {
    text-align: center;
    margin: 5px;
}

p {
  text-align: center;
}

img{
    display: block;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
}
 
form {
    width: 300px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 5px 0;
}
 input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
 }

 button {
    background: #d2691e;
    color: #fff;
    border: none;
    cursor: pointer;
 }

 button:hover {
    background: #a0522d;
 }

